footer{
			display: block;
			background-color: #59335c;
			color:white;
		}
		footer p{
			font-size: 14px;
			line-height: 1.5;
		}
		footer h4{
			color: mediumpurple;
		}
		.col-container {
			display: table;
			width: 100%;
		}
		.col {
			display: table-cell;
			padding: 16px;
		}

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			line-height: 2;


		}
		ul a{
			color: #08c4bb;
			text-decoration: none;
		}
		
		.fa {
			padding: 5px;
			font-size: 15px;
			width: 20px;
			text-align: center;
			text-decoration: none;
			margin: 3px 2px;
			border-radius: 50%;
		}

		.fa:hover {
			opacity: 0.7;
		}

		.fa-facebook {
			background: #3B5998;
			color: white;
		}

		.fa-twitter {
			background: #55ACEE;
			color: white;
		}

		.fa-linkedin {
			background: #007bb5;
			color: white;
		}

		.fa-instagram {
			background: #125688;
			color: white;
		}

	</style>